# Jekyll output folder
_site/

# Caches
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# If you ever use 'bundle install --path vendor/bundle'
# vendor/bundle/

# Mac system files (optional, but common)
.DS_Store
